@model TaskManagementSystem_WebApplication.Models.Reports

@{
    ViewBag.Title = "GetReport";
    Layout = "~/Views/Shared/AdminPage_Layout.cshtml";
}



<div class="formcontainer">
    <h4>Reports</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportData)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
